# Project 1: Suicide Data

Author: Justin Ventura [[jventura3@gulls.salisbury.edu]]

Date: Wednesday, October 14th, 2020.

## - Description -

This dataset contains information about the suicide rates per country from 1987 to 2016.  It contains a few factors about the population in order to derive correlations.

In [6]:
# Libraries we shall be using.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from timeit import default_timer as timer # start = timer(), end = timer()

s_frame = pd.read_csv("suicide_data.csv",
                    #   names=['age', 'workclass', 'fnlwgt', 'education',
                    #          'education-num', 'marital-status', 
                    #          'occupation', 'relationship', 'race',
                    #          'sex', 'capital_gain', 'capital_loss',
                    #          'hr_per_week', 'country', 'income'
                    #         ])
                    )
print('s_frame(row, col) =', s_frame.shape)
s_frame.head(5) # Print the first 9 entries.

s_frame(row, col) = (27820, 12)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

##  A) What type of population is being sampled? What are the “things” getting measured – usually one per row of data.

For this dataset, we have countries being sampled by year.  That is, each row has a country,